ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
}

li {
    margin: 0px 10px;

}

body {
    background-color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

span {
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paginator {
    display: block;
    text-align: center;
}

section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    margin: 0px 10px;
}