<style>
    header{
        text-align: left;
        background-color: transparent;
        padding: 2px;
        width: 100%;
        height: 100%;
    }

    .titleh {
        text-decoration: none;
        color: white;
    }
</style>

<header>
    <h1><a href="/" class="titleh">🎮Guia de Jogos🎮</a></h1>
</header>